.grants .grant .clientname {
    font-size: 110%;
    font-weight: bold;
}

.grants form {
    display: inline-block;
}

.grants .btn {
    display: inline-block;
}

.partner .page-header {
    margin-bottom: 10px;
}

.partner .pb-10 {
    padding-bottom: 10px;
}

.partner .pb-40 {
    padding-bottom: 40px;
}