name: OpenActive Test Suite

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout OpenActive.Server.NET
      uses: actions/checkout@v2
      with:
        path: server
    - name: Use matching coverage/* branch ${{ github.head_ref }} in OpenActive Test Suite 
      if: ${{ startsWith(github.head_ref, 'coverage/') }}
      run: echo "::set-env name=mirror_ref::${{ github.head_ref }}"
    - name: Checkout OpenActive Test Suite ${{ env.mirror_ref }}
      uses: actions/checkout@v2
      with:
        repository: openactive/openactive-test-suite
        ref: ${{ env.mirror_ref }}
        path: tests

    - name: Setup .NET Core 2.1.808
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.808
    - name: Setup Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Install OpenActive.Server.NET dependencies
      run: dotnet restore ./server/
    - name: Build OpenActive.Server.NET Reference Implementation
      run: dotnet build ./server/Examples/BookingSystem.AspNetCore/BookingSystem.AspNetCore.csproj --configuration Release --no-restore
    - name: Start OpenActive.Server.NET Reference Implementation
      run: |
        dotnet run --project ./server/Examples/BookingSystem.AspNetCore/BookingSystem.AspNetCore.csproj --configuration Release --no-build &
        
    - name: Install OpenActive Test Suite
      run: npm install
      working-directory: tests
    - name: Run OpenActive Integration Tests in Random Mode
      run: npm start
      env:
        FORCE_COLOR: 1
        NODE_CONFIG: |
          { "outputPath": "../../output/random/", "datasetSiteUrl": "https://localhost:5001/openactive", "sellers": { "primary": { "@type": "Organization", "@id": "https://localhost:5001/api/identifiers/sellers/1", "requestHeaders": { "X-OpenActive-Test-Client-Id": "test", "X-OpenActive-Test-Seller-Id": "https://localhost:5001/api/identifiers/sellers/1" } }, "secondary": { "@type": "Person", "@id": "https://localhost:5001/api/identifiers/sellers/2" } }, "useRandomOpportunities": true, "generateConformanceCertificate": false }
        NODE_ENV: 
      working-directory: tests
    - name: Upload test output for Random Mode as artifact
      uses: actions/upload-artifact@v2
      if: ${{ success() || failure() }}
      with:
        name: test-output-random
        path: ./tests/output/random/

    - name: Run OpenActive Integration Tests in Controlled Mode
      run: |
        npm start
        mkdir -p ../publish/certification/
        cp ./output/controlled/certification/* ../publish/certification/
      env:
        FORCE_COLOR: 1
        NODE_CONFIG: |
          { "outputPath": "../../output/controlled/", "datasetSiteUrl": "https://localhost:5001/openactive", "sellers": { "primary": { "@type": "Organization", "@id": "https://localhost:5001/api/identifiers/sellers/1", "requestHeaders": { "X-OpenActive-Test-Client-Id": "test", "X-OpenActive-Test-Seller-Id": "https://localhost:5001/api/identifiers/sellers/1" } }, "secondary": { "@type": "Person", "@id": "https://localhost:5001/api/identifiers/sellers/2" } }, "useRandomOpportunities": false, "generateConformanceCertificate": true, "conformanceCertificateId": "https://openactive.io/OpenActive.Server.NET/certification/" }
        NODE_ENV: 
      working-directory: tests
    - name: Upload test output for Controlled Mode as artifact
      uses: actions/upload-artifact@v2
      if: ${{ success() || failure() }}
      with:
        name: test-output-controlled
        path: ./tests/output/controlled/

    - name: Deploy certificate to GitHub Pages (master branch only)
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/master' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./publish
        force_orphan: true
        enable_jekyll: true
